/* pardus-software */
/********************/

.pardus-software-frame > border{
    border-radius: 5px;
}

.pardus-software-notebook.view,
.pardus-software-notebook.frame,
.pardus-software-notebook > *,
.pardus-software-notebook > header *{
    border-radius: 5px 5px 0 0;
}

.pardus-software-listbox{
border-radius:5px;
}

.pardus-software-listbox row:hover, row:selected{
border-radius:5px;
}

.pardus-software-flowbox flowboxchild{
border-radius:5px;
}
